.Footer {
    height: 40vh;
    background-color: black;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.containerAdress {
    line-height: 1.5rem;
}


.containerSocialNetworks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;
}

.iconNetworks {
    font-size: 1.5rem;
    margin: 0 10px;
}

.copyRight {
    font-size: 0.7rem;
    margin: 0 0.3rem;
}
